/* Link Icon */
.link-icon {
  font-size: 300px;
}

/* Custom Orange CSS */
.color-orange {
  color: #f46711 !important;
}

/* Tables */
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
