* {
  box-sizing: border-box;
}

/* Top Bar Styling */
.bar {
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}
.top-bar {
  width: 100%;
  padding: 5px 100px;
  color: white;
}

.info {
  padding: 0px 10px;
}

.info-list-container {
  float: right !important;
  margin-top: -25px;
  display: flex !important;
}

.info-list {
  list-style: none;
}

.info-item {
  text-decoration: none;
  padding: 0px 10px;
}

/* Header Styling */
nav {
  transition: 0.5s;
  height: 12vh;
  z-index: 20;
  position: fixed !important;
  top: 1;
  width: 100%;
}

.logo {
  height: 25vh;
  transition: 0.5s;
  margin-left: 7vw;
}

.nav-item {
  line-height: 80px;
  padding: 0px 20px;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: bolder;
}

.nav-hover {
  transition: 0.5s;
}
/* Hovered Link */
.nav-item:hover .nav-hover {
  background-color: #f46711;
  padding: 10px 15px;
}

/* Scrolled Navbar Styling */

.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  transition: 1s linear;
  height: 12vh;
  padding: 10px 50px;
  z-index: 20;
  position: fixed !important;
  top: 0;
  width: 100%;
}

/* Scrolled Logo Styling */
.scrolled .logo {
  height: 15vh;
  margin-left: 7vw;
}

/* Scrolled Links Styling */
.scrolled .nav-item {
  font-weight: 500;
  font-size: medium;
  padding: 5px 20px;
}

/* Responsive Styling */
@media (max-width: 960px) {
  nav {
    position: fixed;
    margin-top: -35px;
  }
  .logo {
    height: 20vh;
    margin-left: 0px;
  }

  /* Navbar Toggler */
  .navbar-toggler {
    background-color: #f46711;
    position: absolute;
    left: 80vw;
  }
  #navbarContent {
    background-color: #f46711;
    transition: 0.5s;
    width: 100vw;
    text-align: center;
  }
  .scrolled {
    transition: none;
    margin-bottom: -5vh;
    background-color: transparent;
    padding: 0px 0px;
    position: static !important;
    height: 3vh;
    z-index: 0;
  }
  .scrolled .logo {
    height: 5vh;
    margin-left: 0;
  }
  .scrolled .nav-item {
    font-weight: 500;
    font-size: medium;
    padding: 0px 0px;
  }
  /* TOP BAR */
  .bar{
    display: none;
  }
  /* Footer Responsive Stylings */
  .footer-container{
  margin-top: 35vh;
  }
}



/* Footer Styling */
.footer-container{
  background-color: black;
}

.top-footer{
  background-color: #f46711;
}