/* Top Bar Styling */
.bar {
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}
.top-bar {
  width: 100%;
  padding: 5px 100px;
  color: white;
}

.info {
  padding: 0px 10px;
}

.info-list-container {
  float: right !important;
  margin-top: -25px;
  display: flex !important;
}

.info-list {
  list-style: none;
}

.info-item {
  text-decoration: none;
  padding: 0px 10px;
}

/* Header Styling */
nav {
  position: fixed !important;
  top: 10;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: 0.5s;
}

/* Logo */
.logo-container {
  float: left !important;
}

.logo {
  height: 10vh;
  transition: 0.5s;
}

/* Nav-Links */
.nav-list-container {
  float: right !important;
  margin: 0;
  padding: 0;
  display: flex !important;
}

.nav-list {
  list-style: none;
}

.nav-item {
  line-height: 80px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: bolder;
}

/* Active Link */
.nav-active {
  background-color: #f46711;
  color: white !important;
  padding: 10px 15px;
}

/* Hovered Link */
.nav-item:hover {
  background-color: #f46711;
  color: white !important;
  padding: 10px 15px;
}
