/* Page Styling */
body,
html {
  height: 100%;
  background-color: #0b0b0b;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: white;
}

/* Info Box */
.info-box {
  background-color: #f46711 !important;
  color: white;
  font-size: 50px;
  margin-top: 55px;
}

.info-box-heading {
  font-size: 25px !important;
  margin-top: 10px;
  margin-bottom: 0px;
}

.info-box-sub-heading {
  font-size: 15px !important;
}

/* Vertical Line */
.info-box-content {
  border-right: 1px solid rgb(211, 211, 211);
}

/* Qualities Section Start Here */
.qualities {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/6563903/pexels-photo-6563903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

  /* Full height */
  height: 80%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Qualities Section End Here */
