/* Page Styling */
body,
html {
  background-color: #0b0b0b;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: white;
}

/* hero Section Start */
main {
  position: relative;
  top: 100%;
}

/* Hero Heading */
.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Top Heading */
.hero-top-data {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  color: #f46711;
}

/* Sub-Heading */
.hero-sub-heading {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.4rem;
}
.hero-sub-heading-letter {
  color: black;
  text-decoration: none;
  font-weight: 600;
  border: 2px solid;
  font-size: 35px;
  padding: 7px;
  border-radius: 100vh;
  background-color: #f46711;
}
.hero-sub-heading-letter:hover {
  color: black;
  text-decoration: none;
}

/* Main-Heading */
.hero-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.4rem;
}

.hero-para {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
}

.section-hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

picture {
  text-align: center;
}

.hero-img {
  max-width: 80%;
}

/* Hero Section End */
